{% extends "global/Page.html" %}
{% load staticfiles otree %}

<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js'></script>

{% block title %}
    Final results
{% endblock %}

{% block content %}

    <table class="table">
        <tr>
            <th>Round</th>
            <th>Player and outcome</th>
        </tr>
        {% for p in player_in_all_rounds %}
            <tr>
                <td>{{ p.round_number }}</td>
                <td>
                    You were the {{ p.role }} and earned {{ p.payoff }} for an effort level of {{ p.effort_level }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <canvas id='final_chart' width="400" height="400"></canvas>

    <script>
        var canvas = document.getElementById("final_chart").getContext("2d");
        var chart = new Chart(canvas, {
            type: 'line',
            data: {
                datasets: [
                    {
                        data: [ {% for p in player %} ]
                    }
                ]
            }
        })
    </script>

    <p>
        Your total payoff is therefore {{ total_payoff }}.
    </p>


{% endblock %}